.main {
    width: 70%;
    margin: auto;
}
h1 {
    text-transform: uppercase;
    text-align: center;
}
.error {
    //display: none;
    color: #F16363;
    font-size: 11px;
}
.form {
    width: 70%;
    float: left;
}
.reviews {
    width: 30%;
    float: right;
    text-align: left;
}
#name_label, #review_label {
    width: 65px;
    display: inline-block;
}

#submit_btn {
    margin-right: 65px;
}
.review_result {
    border: 1px solid black;
    width: 70%;
    padding: 10px;
    margin-bottom: 15px;
}
.name {
    padding-bottom: 15px;
}
.review {
    padding-bottom: 15px;
}
.date {
    font-size: 11px;
    font-style: italic;
    float: right;
}


